<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h2 class="font-weight-normal m-0"><fa-icon [icon]="faBuilding" class="mr-3"></fa-icon>Offerings</h2>
  <ul class="navbar-nav user-info">
    <li class="nav-item d-none d-md-block">
      <a class="nav-link" href="#"><fa-icon [icon]="faQuestionCircle"></fa-icon></a>
    </li>
    <li class="nav-item d-none d-md-block">
      <a class="nav-link" href="#"><fa-icon [icon]="faBell"></fa-icon><span class="badge badge-primary">12</span></a>
    </li>
    <li class="nav-item d-none d-md-block">
      <a class="nav-link" href="#"><fa-icon [icon]="faEnvelope"></fa-icon><span class="badge badge-primary">5</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <fa-icon [icon]="faUserCircle" class="user-circle-icon mr-1"></fa-icon>
        <span>James Tortis</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="navbarDropdown">
        <div class="d-md-none d-sm-block">
          <a class="dropdown-item" href="#">Help</a>
          <a class="dropdown-item" href="#">Notifications <span class="badge badge-primary">12</span></a>
          <a class="dropdown-item" href="#">Messages <span class="badge badge-primary">5</span></a>
          <div class="dropdown-divider"></div>
        </div>
        <a class="dropdown-item" href="#">Action 1</a>
        <a class="dropdown-item" href="#">Action2</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </ul>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Offerings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Value</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Value</a>
      </li>
    </ul>
  </div>
</nav>
