$blue-dark: #1e2b3c;

$font-color-blue: #9eadc0;
$font-color-grey: #cbccd0;

$border-color-blue: #323f50;
$border-color-grey: #eaeaec;

$bg-color-grey: #f6f7fb;

$primary: #fc7c31;
$secondary: #50b83d;

$primary-light: #ffeee4;
$secondary-light: #eef9ec;

$orange-progres-bar-color-start: #fb7a1c;
$orange-progres-bar-color-end: #f7b65c;

$green-progres-bar-color-start: #43941c;
$green-progres-bar-color-end: #b0eb55;
