@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";

@import '../../../variables';

.navbar-dark {
  background-color: $blue-dark;
  .navbar-brand {
    padding: 1rem 3rem 3rem;
  }
  .navbar-nav {
    .nav-item {
      border-top: 1px solid $border-color-blue;
      &:last-child {
        border-bottom: 1px solid $border-color-blue;
      }
      .nav-link {
        color: $font-color-blue;
        padding: 1.5rem;
        -webkit-transition: color .15s;
        -moz-transition: color .15s;
        -o-transition: color .15s;
        transition: color .15s;
        &:hover {
          color: white;
        }
        fa-icon {
          margin-right: 1rem;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .navbar-dark {
    .navbar-brand {
      padding: 1rem;
    }
    .navbar-nav {
      .nav-item {
        border-top: 1px solid $border-color-blue;
        &:last-child {
          border-bottom: 1px solid $border-color-blue;
        }
        .nav-link {
          padding: 1rem .72rem;
          font-size: .9rem;
        }
      }
    }
  }
}
